#tag-review-helper > :last-child {
	margin-block-end: 1em;
}

#tag-review-helper button[aria-pressed="true"] {
	filter: invert(1);
}

#tag-review-helper details {
	border: 1px dotted currentColor;
	margin-block-end: 0.5em;
}

#tag-review-helper details > div {
	margin: 0.5em;
}

#tag-review-helper details > div blockquote {
	padding-inline: 0.75em;
	border-inline: 0.15em solid currentColor;
}

/* Counteract GitHub styling */
#tag-review-helper details > div ol,
#tag-review-helper details > div ul {
	padding-inline-start: 2em;
}

#tag-review-helper summary {
	margin-block: 0.5em;
	margin-inline-start: 0.5em;
}

#tag-review-helper summary h4 {
	display: inline-block;
}

#tag-review-helper .controls {
	display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: space-between;
	margin-block: 0.5em;
}
